@model DavaSurecTakip.Entities.DbEntitiesModels.Case
@{
    Layout = null;
}

<br />
<br />
<h1>Dava Liste Güncelle</h1>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<div class="form-box">
    @using (Html.BeginForm("DavaGuncelleData", "Portal", FormMethod.Post))
    {
        @Html.Label("CaseId")
        @Html.TextBoxFor(x => x.CaseId, new { @class = "form-control", @readonly = "readonly" })
        <br />

        @Html.Label("IHopeId")
        @Html.TextBoxFor(x => x.IHopeId, new { @class = "form-control"})
        <br />

        @Html.Label("CaseSubjectDto")
        @Html.TextBoxFor(x => x.CaseSubjectDto, new { @class = "form-control"})
        <br />

        @Html.Label("Claimant")
        @Html.TextBoxFor(x => x.Claimant, new { @class = "form-control"})
        <br />

        @Html.Label("Tc")
        @Html.TextBoxFor(x => x.Tc, new { @class = "form-control" })
        <br />

        @Html.Label("ErDatCreate")
        @Html.TextBoxFor(x => x.ErDatCreate, new { @class = "form-control" })
        <br />

        @Html.Label("EventDate")
        @Html.TextBoxFor(x => x.EventDate, new { @class = "form-control" })
        <br />

        @Html.Label("Notified")
        @Html.TextBoxFor(x => x.Notified, new { @class = "form-control", })
        <br />

        @Html.Label("CaseFileStageDto")
        @Html.TextBoxFor(x => x.CaseFileStageDto, new { @class = "form-control", })
        <br />
        <button class="btn btn-default" style="background-color:#0c19b4 ; color:white">Kullanıcı Güncelle</button>
        <button class="btn btn-default" style="background-color:#FC1C00 ; color:white">İptal</button>
    }
</div>

<style>
    body {
        background: #f7f7f7;
    }

    .form-box {
        max-width: 500px;
        margin: auto;
        padding: 50px;
        background: #ffffff;
        border: 10px solid #f2f2f2;
    }

    h1, p {
        text-align: center;
    }
</style>